@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color:   hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 16px;
}

.card-qrcode {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    max-width: 20rem;
    padding: 16px;
}

.img-qrcode {
    border-radius: 1rem;
    height: auto;
    max-width: 100%;
}

.card-qrcode h2 {
    margin-top: 1rem;
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
}

.card-qrcode p {
    margin: 1rem;
    color:  hsl(216, 15%, 48%);
    font-size: 1rem;
}